@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 3rem;
}

.add {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #f1b50d;
    color: #1a1a1a;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.note {
    background-color: #f1f1f1;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    margin: 30px 20px;
    height: 400px;
    width: 400px;
}

.note .tools {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #474747;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}